@font-face {
	font-family: "OpenSansBold";
	src: url("../font/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansLight";
	src: url("../font/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("../font/OpenSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansSemibold";
	src: url("../font/Open Sans Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}