/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.proj .whwh_blok{
		width: 100%;
		align-items: center;
	}
	.flex_top{
		width: 1000px;
	}
	.inform_blok .halp_blok{
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.inform_blok .whwh_blok{
		align-items: center;
	}
	.list_item{
		width: 22%;
		height: initial;
	}
	.item_team{
		height: 260px;
		width: 230px;
	}
	.whwh_blok{
		padding: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	html{
		font-size: 14px;
	}
	.topit_mn p{
		transition: color .5s;
		display: none;
		font-size: 1.1em;
	}
	.topit_mn i{
		font-size: 1.3em;
	}
	.flex_top{
		width: 800px;
		justify-content: space-around;
	}
	.list_proj{
		justify-content: space-around;
	}
	.mnu_item{
		margin-top: 10px;
		margin-right: 10px;
		height: initial;
	}
	.mnu_item span{
		padding: 10px 10px;
	}
	.elements_we {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.blok_we .whwh_blok{
		align-items: center;
	}
	.blok_we .whwh_blok h5{
		text-align: center;
	}
	.elements_we .whwh_blok p{
		width: 100%;
	}
	#glob_mn ul{
		justify-content: space-around;
		border-top: none;
	}
	#glob_mn li{
		border: none;
	}
	#glob_mn li a{
		padding: 0 8px 0 8px;
		font-size: 12px;
	}
	.inform_blok{
		justify-content: space-around;
	}
	.list_item{
		width: 22%;
		height: initial;
	}
	.top_soc{
		width: 209px;
	}
	.team_row{
		width: 80%;
	}
	#project_ob{
		min-height: 750px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	html{
		font-size: 12px;
	}
	.topit_mn p{
		transition: color .5s;
		display: none;
		font-size: 1.3em;
	}
	.topit_mn i{
		font-size: 1.7em;
	}
	.top_soc{
		width: 50%;
	}
	.flex_top{
		width: 600px;
		justify-content: space-around;
	}
	nav{
		position: relative;
		width: 100%;
	}
	#glob_mn{
		opacity: 0;
		position: fixed;
		height: 40px;
		justify-content: center;
		align-items: center;
		color: white;
		transition: opacity 1.5s;
	}
	#smal_mn{
		display: block;
	}
	#glob_mn li a{
		color: #ffffff;
	}
	#glob_mn li a:hover{
		color: #BBEDFF;
	}
	#glob_mn li:hover::after{
		opacity: 0;
		transition: all .5s;
	}
	.item_soc, .item_soc:last-child{
		border: none;
	}
	.foot .lf_mn {
		justify-content: center;
		align-items: flex-end;
		min-width: 300px;
	}
	.foot .rg_mn {
		justify-content: center;
		align-items: flex-end;
		min-width: 300px;
	}
	.item_team{
		margin: 10px 0;
	}
	#project_ob{
		min-height: 619px;
	}
}
@media only screen and (max-width : 618px) {
	html{
		font-size: 10px;
	}
	.halp_blok_column{
		width: 100%;
	}
	.elements_we{
		min-height: initial;
	}
	.halp_blok_column:last-child{
		border: none;
	}
	.elements_we .ob_img img{
		margin-bottom: 20px;
	}
	.foot .top_exempl{
		padding: 0;
	}
	.whwh_blok{
		padding: 0;
	}
	.halp_blok{
		width: 90%;
	}
	#project_ob {
		min-height: 524px;
	}
	.ob_img img {
		width: 100%;
	}
}
@media only screen and (max-width : 495px) {
	html{
		font-size: 10px;
	}
	#project_ob {
		min-height: 466px;
	}
	.whwh_blok {
		align-items: center;
		text-align: center;
	}
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 20px;
	}
	h2 span{
		font-size: 63px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	h1{
		font-size: 20px;
	}
	h2{
		font-size: 15px;
	}
	h2 span{
		font-size: 58px;
	}
	#project_ob {
		min-height: 400px;
	}
	.mnu_item span {
		padding: 2px 3px;
	}
	.link_mnu a{
		padding-top: 1px;
	}
	.ob_img img {
		width: 100%;
	}
	.ob_img{
		width: 29%;
	}
}

/*Disable Animation on Mobile Devices*/
.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

/* Extra Small Devices, Phones */





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 555px) {
	.topit_mn p{
		display: block;
	}
	.topit_mn{
		width: 98px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}