body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: "OpenSansBold";
	padding: 0;
	margin: 0;
}
h1{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 57px;
	font-weight: 500;
	z-index: 2;
	position: absolute;
	top: 10px;
	left: -5px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
}
h2{
	font-family: "OpenSansLight";
	text-transform: lowercase; 
	color: #ffffff;
	z-index: 1;
	font-weight: 100;
	font-size: 45px;
	text-shadow: 1px 1px 1px #000;
}
h2 span{
	color: #BBEDFF;
	font-size: 120px;
	font-weight: 900;
	font-family: "OpenSansBold";
}
h6{
	color: #3687C4;
	font-size: 32px;
}
h5{
	font-size: 26px;
	color: #6D6E71;
}
h4{
	font-size: 17px;
	font-family: "OpenSansLight";
	color: #6D6E71;
	font-weight: 500;
}
h3{
	font-family: "OpenSansBold";
	color: #6D6E71;
	font-size: 44px;
}
p{
	font-family: "OpenSansLight";
	color: #6D6E71;
}
a{
	font-family: "OpenSansBold";
	text-decoration: none;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wr_centr{
	display: flex;
	flex-direction: row;
	justify-content: center;
	//height: 100%;
}
.flex_top{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 1157px;
}
.top_exempl{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.topit_mn:first-child{
	margin-left: 0;
}
.topit_mn:last-child{
	margin-right: 0;
}
.topit_mn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 2.5px 0 2.5px;
	width: 98px;
	height: 32px;
	background-color: #ffffff;
	border-radius: 5px;
}
.topit_mn a{
	color: #6D6E71;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	transition: all .5s;
}
.topit_mn a:hover{
	color: #1FAAE2;
	transition: all .5s;
}
.topit_mn i{
	font-size: 20px;
}
.topit_mn p{
	margin-right: 10px;
}
.top_soc{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	width: 258px;
}
.item_soc{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-left: 1px solid #DEE0E6;
	width: 64px;
}
.item_soc:last-child{
	border-right: 1px solid #DEE0E6;
}
.fa-facebook-square{
	color: #2B75B2;
}
.fa-twitter{
	color: #1FAAE2;
}
.fa-instagram{
	color: #26658E;
}
.fa-google-plus{
	color: #DD4070;
}
.top_soc a{
	font-size: 26px;
	transition: all .2s;
}
.top_soc a:hover{
	font-size: 32px;
	transition: all .2s;
}
.top_wrap{
	background-color: #ECEEF4;
	min-height: 62px;
}
.midl_wrap{
	height: 217px;
}
.logo_blok{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	width: 403px;
	height: 93px;
	margin-left: -20px;
}
.inf_blok{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 230px;
}
.inf_item{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: stretch;
}
.pos1{
	order: 1;
}
.pos2{
	order: 3;
}
.act{
	order: 2;
}
.inf_item:hover ~ .act .obr_a .width_a{
	display: none;
}
.inf_item:hover ~ .act .obr_i i{
	color: #6D6E71;
	transition: all 1s;
}
.act .obr_a .width_a{
	display: block;
}
.act .obr_i i{
	color: #1FAAE2;
	font-size: 30px;
}

.inf_item i{
	font-size: 30px;
	color: #6D6E71;
	transition: all 1s;
}
.obr_a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 52px;
	margin-bottom: 21px;
	position: relative;
}
.width_lft{
	position: absolute;
	top: 0px;
	left: 0px;
}
.width_rgt{
	position: absolute;
	top: 0px;
	right: 0px;
}
.width_cntr{
	position: absolute;
}
.width_a{
	border-radius: 5px;
	border: 2px solid #D4D4D5;
	height: 48px;
	width: 226px;
	display: none;
}
.width_a a{
	font-family: "OpenSansLight";
	font-size: 16px;
	color: #7A7B7D;
}
.width_a a:hover{
	color: #1FAAE2;
}
.width_a:hover{
	display: block;
	z-index: 1;
}
.width_cntr::after,.width_cntr::before{
	content: "";
	position: absolute;
	left: 50%;
	width: 0;
}
.width_cntr::after{
	border: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
	margin-left: -12px;
	bottom: -24px;
}
.width_cntr::before{
	border: 15px solid transparent;
	border-top: 15px solid #D4D4D5;
	margin-left: -15px;
	bottom: -30px;
}
.width_lft::after,.width_lft::before{
	content: "";
	position: absolute;
	border: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
	left: 16%;
	margin-left: -12px;
	bottom: -24px;
	width: 0;
}
.width_lft::after{
	border: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
	margin-left: -12px;
	bottom: -24px;
}
.width_lft::before{
	border: 15px solid transparent;
	border-top: 15px solid #D4D4D5;
	margin-left: -15px;
	bottom: -30px;
}
.width_rgt::after,.width_rgt::before{
	content: "";
	position: absolute;
	border: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
	left: 83%;
	margin-left: -12px;
	bottom: -24px;
	width: 0;
}
.width_rgt::after{
	border: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
	margin-left: -12px;
	bottom: -24px;
}
.width_rgt::before{
	border: 15px solid transparent;
	border-top: 15px solid #D4D4D5;
	margin-left: -15px;
	bottom: -30px;
}
.flex_a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.obr_i{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 79px;
	cursor: pointer;
}
.inf_item:hover .obr_i > i{
	color: #1FAAE2;
	transition: all .2s;
}
.inf_item:hover > .obr_a .width_a{
	display: block;
}
.bord_i{
	border-left: 1px solid #BCBEC3;
	border-right: 1px solid #BCBEC3;
	width: 70px;
}
.bottom_wrap{
	border-top:1px solid #ECEEF4;
	height: 85px;
}
#glob_mn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
#glob_mn ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 765px;
}
#glob_mn li{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-left: 1px solid #ECEEF4;
	position: relative;
}
#glob_mn li:hover > a{
	color: #1FAAE2;
	transition: all .5s;
}
#glob_mn li:first-child{
	border-left: none;
}
#glob_mn li a{
	margin: 0 23px 0 23px;
	color: #6D6E71;
	font-size: 13px;
	transition: all .5s;
}
#glob_mn li::after{
	content: "";
	border-top: 7px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 7px solid #1FAAE2;
	margin-left: -15px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 0;
	opacity: 0;
	transition: all .5s;
}
#glob_mn li:hover::after{
	opacity: 1;
	transition: all .5s;
}
#search{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-family: "OpenSansLight";
	font-size: 15px;
}
#search input{
	border: none;
}
#search label{
	color: #6D6E71;
	font-size: 25px;
}
#search form{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 210px;
}
/* Слайдер */
.section_sl{
	background-image: url(../images/iback.png);
	width: 100%;
	height: 885px;
	background-position: center center;
	background-repeat: no-repeat;
}
.title_blok{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 71%;
}
.column_titl{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}



.section_info{
	height: 420px;
}
.inform_blok{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
}
.halp_blok{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 44.5%;
}
.whwh_blok{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
	padding: 44px 0 0 30px;
}
.section_info img{
	display: flex;
	padding: 31px 0 0 0;
}
.section_info p{
	display: flex;
	text-align: justify;
}


.section_skills{
	height: 948px;
}
.skills_blok{
	position: relative;
	overflow: hidden;
}
.duga{
	position: absolute;
	left: -25%;
	top: 0;
	width: 150%;
	border-radius: 100% / 17%;
	border-top: 3px solid #ECEEF4;
	height: 100%;
	z-index: 1;
}
.skill_ob{
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
.we_do{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 27%;
	width: 70%;
}
.we_do .whwh_blok{
	margin: 0;
	padding-top: 0;
}
.blok_we{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 65%;
}
.halp_blok_column{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	width: 50%;
}
.halp_blok_column:last-child{
	border-left: 2px solid #EAECED;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}
.elements_we{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
.elements_we .whwh_blok{
	margin: 0;
	padding: 0;
	width: 70%;
}
.elements_we .whwh_blok h5{
	font-size: 24px;
}
.elements_we .whwh_blok p{
	width: 90%;
}
.elements_we .ob_img{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 30%;
}

#project_ob{
	height: 1073px; 
}
.section_project{
	position: absolute;
	left: -50%;
	width: 200%;
	border-top-left-radius: 100% 35%;
	border-top-right-radius: 100% 35%;
	height: 1073px;
	background-color: #EFEFEF;
}
.proj .whwh_blok{
	width: 50%;
	height: 45%;
	justify-content: flex-end;
}



.section_team{
	height: 770px;
}
.team_row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.section_team .we_do{
	align-items: flex-end;
}
.item_team{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 390px;
	width: 277px;
	background-color: #F5F5F5;
	border-radius: 7px;
}
.item_team span{
	font-family: "OpenSansBold";
	font-size: 24px;
	color: #6D6E71;
}
.item_team p{
	font-weight: 500;
	padding: 0;
	margin: 0;
}
.inf_team{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top_socmini{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
	height: 62px;
}
.top_socmini .fa-facebook-square, .top_socmini .fa-twitter, .top_socmini .fa-instagram, .top_socmini .fa-google-plus{
	color: #CDCCCC;
	font-size: 25px;
	transition: font-size .2s, color .5s;
}

.top_socmini .fa-facebook-square:hover{
	color: #2B75B2;
}
.top_socmini .fa-twitter:hover{
	color: #1FAAE2;
}
.top_socmini .fa-instagram:hover{
	color: #26658E;
}
.top_socmini .fa-google-plus:hover{
	color: #DD4070;
}
.top_socmini .fa:hover{
	font-size: 27px;
	transition: font-size .2s, color .5s;
}
.top_socmini .item_soc{
	border: none;
	width: 15%;
}




.section_map{
	height:500px;
	width: 100%;
}
.map_info{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}
.map_info .inf_blok{
	width: 210px;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 70px;
}
.map_info .inf_blok .bord_i{
	border: none;
}
.map_info .inf_blok .obr_i{
	height: 60px;
	width: 60px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #ffffff;
	transition: background-color .5s;
}
.map_info .flex_a{
	background-color: #ffffff;
}
.map_info .inf_blok .width_a{
	width: 206px;
}
.map_info .inf_blok .obr_i .fa{
	color: #6D6E71;
}
.map_info .inf_item:hover .obr_i > i{
	color: #ffffff;
}
.map_info .inf_item:hover > .obr_i{
	background-color: #1FAAE2;
	transition: background-color .5s;
}
.map_info .act .obr_i{
	background-color: #1FAAE2;
}
.map_info .act .obr_i i{
	color: #ffffff;
}
.inf_item:hover ~ .act .obr_i{
	background-color: #ffffff;
}
.map_info .width_rgt::before, .map_info .width_rgt::after{
	left: 87%;
}
.map_info .width_lft::before, .map_info .width_lft::after{
	left: 13%;
}
.map_info .act .obr_i .fa{
	color: #ffffff;
} 
#google-map{
	position: relative;
	height:500px;
	width:2000px;
}
#google-container{
	height:500px;
	width:2000px;
}

footer{
	height: 270px;
}
.gmnoprint, .gm-style-cc{
	visibility: hidden;
}